extends layout    

block content
  #messageList
    each message in messages
      a.messageBlock(href='/messages/#{message.id}')
        p.members= message.members
        p.lastPoster= message.lastPoster
        p.lastPostText= message.lastPostText
  p Start a new conversation:
  form(action='/newMessage', method='post')
    span Enter another user's name 
    input#autocomplete
    input#members(type='hidden', name='members')
    input(type='submit', value='Start it!')
  span#warning
  ul#conversationMembers
  
  
block append scripts
  script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js')
  script(src='/javascripts/newMessage.js')
  script
    $(function() {
      var members = ['#{userID}'];    
      var labels = '#{sourceLabels}';
      var values = '#{sourceValues}';
      
      labels = labels.split(',');
      values = values.split(',');
      
      newMessageSetup(members, labels, values);
    });
      