extends layout

block append scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/socketMessagePosted.js')
  script
    $(function() {
      var msgID = '#{messageID}';
      var userID = '#{userID}';
      setupSocket(msgID, userID);
    });

block content
  p= members
  #messageWrapper
    each post in posts
      .post
        ul.msgInfo
          li.poster
            a(href='/'+post.posterUsername)= post.poster
          li.postTime= post.postTime
          li.postText= post.postText
  #newPostWrapper
    input(type='hidden', id='messageID', value=messageID)
    input(type='hidden', id='userID', value=userID)
    input(type='text', id='postText')
    input(type='submit', id='sendBtn', value='Post Message')
      